@model website.Models.DanhMucSP

@{
    ViewBag.Title = "Sửa danh mục sản phẩm";
}
@using (Ajax.BeginForm("Edit", "DanhMuc", null,
                       new AjaxOptions
                       {
                           HttpMethod = "Post",
                           OnSuccess = "onEditSuccess",
                           UpdateTargetId = "response",
                           InsertionMode = InsertionMode.Replace,
                       },
                       new { enctype = "multipart/form-data" }
                       ))
{
    <input hidden name="Id" value="@Model.Id" />
    <div class="dialog-model"></div>
    <div class="dialog-content">
        <div class="dialog-header">
            <div class="header-content">THÔNG TIN DANH MỤC SẢN PHẨM</div>
        </div>
        <div class="dialog-main">
            <div class="dialog-grid">
                <div class="dialog-grid-center">
                    <div class="grid-title">
                    </div>
                    <div class="infor-details">
                        <label for="txtmaKH">Tên danh mục(<span style="color: red">*</span>)</label>
                        @Html.EditorFor(model => model.TenDM, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenDM, "", new { @class = "text-danger" })
                    </div>
                    <div class="infor-details">
                        <label for="txtmaKH">Mô tả(<span style="color: red">*</span>)</label>
                        @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="dialog-footer">
            <a class="btn btn-success" style="color:white" onclick="closedialog()">Hủy</a> &nbsp;
            <button class="btn btn-primary" type="submit">Lưu</button>
        </div>
    </div>

}
