@model PagedList.IPagedList<website.Models.SanPham>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var stt=0;
    var ncc = ViewData["ncc"] as List<website.Models.NCC>;
    var dm = ViewData["dm"] as List<website.Models.DanhMucSP>;
    var km = ViewData["km"] as List<website.Models.KhuyenMai>;
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Trang chủ /</span> Danh sách sản phẩm   </h4>
    <div class="card">
        <div class="row" style=" display: flex; justify-content: flex-end; padding: 10px 25px; ">
            @Ajax.ActionLink(

         " Thêm mới ",
         "Create",
         "SanPham",
         new AjaxOptions
         {
             UpdateTargetId = "responsive",
             InsertionMode = InsertionMode.Replace,
             HttpMethod = "GET",
             OnComplete = "load"
         },
         new { @class = "btn btn-primary col-md-1" }
         )

        </div>  
        <div class="table-responsive text-nowrap">
            <table class="table" style="table-layout: fixed">
                <thead>
                    <tr class="text-center">
                        <th>Số thứ tự</th>
                        <th>Tên sản phẩm</th>
                        <th>
                            Hình ảnh
                        </th>
                        <th>
                            Giá niêm yết
                        </th>
                        <th>
                            Đơn vị tính
                        </th>
                        <th>
                            Nhà cung cấp
                        </th>
                        <th>
                            Danh mục
                        </th>
                        <th>
                            Khuyến mại
                        </th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                            stt++;
                    <tr class="text-center">
                        <td>
                            @stt
                        </td>
                        <td style=" white-space: initial; overflow: hidden;">
                            @item.TenSP
                        </td>
                        <td>
                            <img src="~/Upload/SanPham/@item.HinhAnh.Split(',')[0]" height="100" />
                        </td>
                        <td>
                            @website.Models.conver.ConvertToThousand64_From_Float(item.GiaGoc) VNĐ
                        </td>
                        <td>
                            @item.DonViTinh
                        </td>
                        <td>
                            @ncc.FirstOrDefault(g => g.Id == item.IdNCC).TenNCC
                        </td>
                        <td>
                            @dm.FirstOrDefault(g => g.Id == item.IdDM).TenDM
                        </td>
                        <td>
                            @km.FirstOrDefault(g => g.Id == item.IdKM).TiLeKM %
                        </td>

                        <td>
                            @Ajax.ActionLink(
               " ",
               "Edit",
               "SanPham",
               new { id = item.Id },
               new AjaxOptions
               {
                   UpdateTargetId = "responsive",
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   OnComplete = "loadfrmEditSussess"
               },
               new
                    {
                        @class = "btn btn-sm btn-outline-success fas fa-pencil-alt",
                   @title = "Sửa"
                    }
               )
                            <a class="btn btn-sm btn-outline-dark" title="Xóa" onclick="btndelete(@item.Id,'SanPham')">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <div class="col-md-12" style="text-align:right;color:black">
                Tổng số bản ghi: @ViewBag.total &nbsp;
            </div>
            <ul class="pagination" style="float:right;margin-right:20px">

                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li>
                        <a class="page-link @(Convert.ToInt32(ViewBag.pageNumber)==i?"active1":"")" href="@Url.Action("Index", new { page = i })">@i</a>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>